
<!--{template header}-->
<!--{template cp_header}-->
<div class="c_form">
	<form method="post" action="cp.php?ac=password&op=">
<ul class="w-user w-user-1" style="margin-left:30%;">
		<caption>
			<h2>我的登录密码</h2>
			<p>修改密码后，您需要重新登陆一次。</p>
		</caption>
		<tr>
			<th width="100">登录用户名</th>
			<td>$space[username]</td>
		</tr>
        <li class="w0">
<div class="inpt ztag">   
			<input type="password" id="password" name="password" value="" class="txt ztag"placeholder="旧密码" />
        </div>
        </li>
        <li class="w0">
<div class="inpt ztag">   
			<input type="password" id="newpasswd1" name="newpasswd1" value="" class="txt ztag" placeholder="新密码">
        </div>
        </li>
        <li class="w0">
<div class="inpt ztag">   
			<input type="password" id="newpasswd2" name="newpasswd2" value="" class="txt ztag"placeholder="确认密码">      
        </div>
        </li>  
        <input name="pwdsubmit" value="修改密码" type="submit" class="btn ztag" >
        </ul>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>

<!--{template footer}-->