<!--{template header}-->

<!--{if $_GET['op'] == 'delete'}-->

<h1>删除记录</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner" id="__doingform_{$doid}_{$id}">
<form method="post" id="doingform_{$doid}_{$id}" name="doingform" action="cp.php?ac=doing&op=delete&doid=$doid&id=$_GET[id]">
	<p>确定删除该记录吗？</p>
	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
		<button name="deletesubmit" type="submit" class="w-bbtn w-bbtn-0 bindbtn ztag" value="true">确定</button>
	</p>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{elseif $_GET['op'] == 'getmood'}-->

	$space[spacenote]

<!--{elseif $_GET['op'] == 'docomment'}-->

	<span id="docomment_form_{$doid}_{$id}">
	<form id="docommform_{$doid}_{$id}" method="post" action="cp.php?ac=shuoshuo&op=comment&doid=$doid&topid=$topid&uid=$uid" style="padding-left:10px;">
		<a href="#" id="do_face_{$doid}_{$id}" title="插入表情" onclick="showFace(this.id, 'do_message_{$doid}_{$id}');return false;"><img src="image/facelist.gif" align="absmiddle" /></a>
		<input type="text" id="do_message_{$doid}_{$id}" name="message" size="35" class="txt" onkeydown="return ctrlEnter(event, 'docommform_btn_{$doid}_{$id}', 1);" style="height:35px; width:97%;">
		<input type="hidden" name="commentsubmit" value="true" />
		<input type="button" name="do_button" class="w-bbtn w-bbtn-0 bindbtn ztag" id="docommform_btn_{$doid}_{$id}" onclick="ajaxpost('docommform_{$doid}_{$id}', 'xxxdocomment_get', 1)" value="回复" style="margin-top:10px;">
		<button type="button" name="btncancel" class="w-bbtn w-bbtn-0 bindbtn ztag" onclick="xxxdocomment_form_close($doid, $id);" style="margin-left:20px; margin-bottom:10px;">取消</button>
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
	<div id="__docommform_{$doid}_{$id}"></div>
	</span>
<!--{elseif $_GET['op'] == 'getcomment'}-->
		<!--{template space_shuoshuo_li}-->

<!--{else}-->

<div id="content">
	<!--{template space_doing_form}-->
</div>

<!--{/if}-->

<!--{template footer}-->