
<!--{template header}-->
<div class="contl">
<form name="loginform" action="do.php?ac=$_SCONFIG[login_action]&$url_plus&ref" method="post" class="ztag" >
	<ul class="w-user w-user-1" style="margin-left:30%;">
	<caption>
		<h2>请登录</h2>
		<p>如果您在本站已拥有帐号，请使用已有的帐号信息直接进行登录即可，不需重复注册。</p>
	</caption>
   <li class="w0">
            <h2>用户名</h2>
			<div class="inpt ztag">
            <input type="text" name="username" id="username" class="txt" value="$membername" tabindex="2"/>&nbsp;<span id="checkpassword2">&nbsp;</span>
            </div>
    </li>
    <li class="w0">
            <h2>密码</h2>
			<div class="inpt ztag">
            <input type="password" name="password" id="password" class="txt ztag" tabindex="3" value="$password"/>&nbsp;<span id="checkpassword2">&nbsp;</span>
            </div>
    </li>
									<li class="w0">
                                        <input type="hidden" name="refer" value="space.php?do=home" />
										<input name="loginsubmit" id="loginsubmit" tabindex="3" type="submit" class="w-bbtn w-bbtn-0 bindbtn ztag" value="登录"/>
									</li>
								</ul>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
			            </form>
						</div>
<!--{template footer}-->