<!--{if empty($_SGLOBAL['inajax'])}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta name="author" content="netease"/>
	<meta name="version" content="1.0"/>
<meta http-equiv="content-type" content="text/html; charset=$_SC[charset]" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title>中国矿业大学室内外位置服务系统</title>
<script language="javascript" type="text/javascript" src="source/script_cookie.js"></script>
<script language="javascript" type="text/javascript" src="source/script_common.js"></script>
<script language="javascript" type="text/javascript" src="source/script_menu.js"></script>
<script language="javascript" type="text/javascript" src="source/script_ajax.js"></script>
<script language="javascript" type="text/javascript" src="source/script_face.js"></script>
<script language="javascript" type="text/javascript" src="source/script_manage.js"></script>
<script type="text/javascript" src="js/swfupload.js"></script>
<script type="text/javascript" src="js/handlers.js"></script>
<style type="text/css">
@import url(template/default/cumt.css);
@import url(common/cumt/css/pt_lib_macro.css);
@import url(common/cumt/css/shuoshuo.css);
</style>
<link rel="shortcut icon" href="image/favicon.png" />
<link rel="edituri" type="application/rsd+xml" title="rsd" href="xmlrpc.php?rsd=$space[uid]" />   
   <script type="text/javascript">
   (function(window,document){
        if(top!=window) top.location=location.href;
        document.uniqueID!=document.uniqueID&&!!location.hash&&(location.hash=location.hash);
        window.focus();
    })(this,document);
	
	window.isInDashboard = true;
	</script>

</head>
<body class="page-lofter">

<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div id="header">
<div id="lofterheadbar" class="g-hd">
    <h1 class="m-logo"><a>中国矿业大学室内外位置服务系统</a></h1>
    <div class="m-nav" id="topbar">
	        <ul class="nav1 tbtag">
	            <li class=""><a href="space.php?do=home">首页</a></li>
				<li class=""><a href="space.php?do=mood">心情</a></li>
	            <li class=""><a href="space.php?uid=$_SGLOBAL['supe_uid']&do=blog&view=both">公告</a></li>
                <li class=""><a href="space.php?do=pm<!--{if !empty($_SGLOBAL['member']['newpm'])}-->&filter=newpm<!--{/if}-->">消息<!--{if !empty($_SGLOBAL['member']['newpm'])}-->(新)<!--{/if}--></a></li>
	            <li>
	            	<a href="#" class="tbtag" onclick="if(abb2.className=='a-w-sel a-w-sel-4 tbtag'){abb2.className='a-w-sel a-w-sel-4 tbtag a-w-sel-do';abb1.style.marginTop=0;}else{abb2.className='a-w-sel a-w-sel-4 tbtag';abb1.style.marginTop=-258;}" >更多<span class="more tbtag">&nbsp;&nbsp;&nbsp;</span></a>
                    <!--onclick是更多的鼠标点击响应事件-->
	            	<div id="abb2" class="a-w-sel a-w-sel-4 tbtag" onmousemove="abb2.className='a-w-sel a-w-sel-4 tbtag a-w-sel-do';abb1.style.marginTop=0" >
                    <!--定义id abb2 挡鼠标在此区域 时候触发abb2的class显示内容-->
		            	<div class="w-sel w-sel-4" id="abb1" style="margin-top: -240px; ">
		                	<div class="selc">
		                    	<div class="selcc tbtag">
		                            <div class="seli"><a class="nx-1" href="cp.php?ac=profile">帐号设置</a></div>
		                            <div class="seli"><a class="nx-2" href="cp.php?ac=friend&op=search">寻找好友</a></div>
		                            <div class="seli"><a class="nx-3" href="cp.php?ac=common&op=logout&uhash=$_SGLOBAL[uhash]">退出</a></div>
		                        </div>
		                    </div>
		                </div>
		            </div>
	            </li>
	        </ul>
    </div>
</div>
</div>


