<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template header}-->

<!--{if $narrowlist || $widelist}-->
<script type="text/javascript" src="source/script_swfobject.js"></script>
<!--{/if}-->

<div id="space_page">

	<div id="ubar">

		<div id="space_avatar">
			<!--{if $space[magicstar] && $space[magicexpire]>$_SGLOBAL[timestamp]}-->
			<div class="magicstar">
			<object codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,45,0" width="200" height="250">
				<param name="movie" value="image/magic/star/{$space[magicstar]}
.swf" />
				<param name="quality" value="high" />
				<param NAME="wmode" value="transparent" />
				<embed src="image/magic/star/{$space[magicstar]}
.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash"  wmode="transparent" width="200" height="250"></embed>
			</object>
			</div>
			
			<div class="magicavatar"><!--{else}--><div><!--{/if}--><!--{avatar($space[uid],big)}--></div>
			
		</div>

		<div class="borderbox">
			<ul class="spacemenu_list" style="width:100%; overflow:hidden;">
		<!--{if $space[self]}-->
			<li><a href="cp.php?ac=avatar">鎴戠殑澶村儚</a></li>
			<li><a href="cp.php?ac=profile">涓汉璧勬枡</a></li>
			<li><a href="space.php?do=doing&view=me">鎴戠殑蹇冩儏</a></li>
			<li><a href="cp.php?ac=upload&op=flash&albumid=$albumid" >涓婁紶鍥剧墖</a></li>
			<li><a href="cp.php?ac=friend&op=search">鏌ユ壘濂藉弸</a></li>
			<!--{if $_SCONFIG[sendmailday]}-->
			<li><a href="cp.php?ac=sendmail">閭欢鎻愰啋</a></li>
			<!--{/if}-->
			<li><a href="cp.php?ac=privacy">闅愮绛涢€?/a></li>
		<!--{else}-->
			<!--{if !$space['isfriend']}-->
			<li><img src="image/icon/friend.gif" /><a href="cp.php?ac=friend&op=add&uid=$space[uid]" id="a_friend_li" onclick="ajaxmenu(event, this.id, 1)">鍔犱负濂藉弸</a></li>
			<!--{/if}-->
			<li><img src="image/icon/wall.gif" /><a href="#comment">缁欐垜鐣欒█</a></li>
			<li><img src="image/icon/poke.gif" /><a href="cp.php?ac=poke&op=send&uid=$space[uid]" id="a_poke" onclick="ajaxmenu(event, this.id, 1)">鎵撲釜鎷涘懠</a></li>
			<li><img src="image/icon/pm.gif" /><a href="cp.php?ac=pm&uid=$space[uid]" id="a_pm" onclick="ajaxmenu(event, this.id, 1)">鍙戦€佹秷鎭?/a></li>
			<!--{if $space['isfriend']}-->
			<li><img src="image/icon/friend.gif" /><a href="cp.php?ac=friend&op=ignore&uid=$space[uid]" id="a_ignore" onclick="ajaxmenu(event, this.id)">瑙ｉ櫎濂藉弸</a></li>
			<!--{/if}-->
			<li><img src="image/icon/report.gif" /><a href="cp.php?ac=common&op=report&idtype=uid&id=$space[uid]" id="a_report" onclick="ajaxmenu(event, this.id, 1)">杩濊涓炬姤</a></li>
			<!--{if checkperm('managename')||checkperm('managespacegroup')||checkperm('managespaceinfo')||checkperm('managespacecredit')||checkperm('managespacenote')}-->
			<li><img src="image/icon/profile.gif" /><a href="admincp.php?ac=space&op=manage&uid=$space[uid]" id="a_manage">绠＄悊鐢ㄦ埛</a></li>
			<!--{/if}-->
		<!--{/if}-->
			</ul>
		</div><br />

<div id="space_mymenu">
		<!--{if $visitorlist}-->
		<div class="space_mymenu">
			<h2 class="title">
				<a href="space.php?uid=$space[uid]&do=friend&view=visitor" class="r_option">鍏ㄩ儴</a>
                鏈€杩戣瀹?
			</h2>
			<ul class="avatar_list">
				<!--{loop $visitorlist $key $value}-->
				<li>
					<!--{if $value[vusername] == ''}-->
					<div class="avatar48"><img src="image/magic/hidden.gif" alt="鍖垮悕" /></div>
					<p>鍖垮悕</p>
					<p class="gray"><!--{date('n鏈坖鏃?,$value[dateline],1)}--></p>
					<!--{else}-->
					<div class="avatar48"><a href="space.php?uid=$value[vuid]"><!--{avatar($value[vuid],small)}--></a></div>
					<p><!--{if $ols[$value[vuid]]}--><!--{/if}--><a href="space.php?uid=$value[vuid]" title="{$_SN[$value[vuid]]}">{$_SN[$value[vuid]]}</a></p>
					<p class="gray"><!--{date('n鏈坖鏃?,$value[dateline],1)}--></p>
					<!--{/if}-->
				</li>
				<!--{/loop}-->
			</ul>
		</div>
		<!--{/if}-->


		<!--{if $friendlist}-->
		<div class="space_mymenu">
			<h2 class="title">
			<span class="r_option">
				<a href="space.php?uid=$space[uid]&do=friend&view=me" class="action">鍏ㄩ儴($space[friendnum])</a>
			</span>
			濂藉弸鍒楄〃
			</h2>
			<ul class="avatar_list">
				<!--{loop $friendlist $value}-->
				<li>
				<div class="avatar48"><a href="space.php?uid=$value[fuid]"><!--{avatar($value[fuid],small)}--></a></div>
				<p><!--{if $ols[$value[fuid]]}--><!--{/if}--><a href="space.php?uid=$value[fuid]">{$_SN[$value[fuid]]}</a></p>
				</li>
				<!--{/loop}-->
			</ul>
		</div>
		<!--{/if}-->
	</div>


		<!--{loop $narrowlist $value}-->
		<div id="space_app_$value[appid]">
			<h2>
				<!--{if $space[self]}-->
				<a href="cp.php?ac=space&op=delete&appid=$value[appid]" id="user_app_$value[appid]" class="r_option float_del" onclick="ajaxmenu(event, this.id)" title="鍒犻櫎">鍒犻櫎</a>
				<!--{/if}-->
				<a href="$value[appurl]">$value[appname]</a>
			</h2>
			<!--{if $value[myml]}-->
			<div class="box">
			<!--{eval eval($value[myml]);}-->
			</div>
			<!--{/if}-->
		</div>
		<!--{/loop}-->

	</div>

	<div id="content">
			
		<h3 id="spaceindex_name">
		<!--{if $_SCONFIG[realname]}-->
			<!--{if $space[name]}--><a href="space.php?uid=$space[uid]"><!--{eval g_color($space[groupid]);}-->>$space[name]</a><!--{else}-->鏈～鍐欏疄鍚?!--{/if}-->
			&nbsp;<em>(鐢ㄦ埛鍚? $space[username])</em>
		<!--{else}-->
			<a href="space.php?uid=$space[uid]">$space[username]</a>
			<!--{if $space[name]}-->&nbsp;<em>(濮撳悕: $space[name])</em><!--{/if}-->
		<!--{/if}-->

		<!--{if $_SCONFIG[realname]}-->
			<!--{if $space[namestatus]}-->
				&nbsp;<img src="image/realname_yes.gif" align="absmiddle" alt="宸查€氳繃瀹炲悕璁よ瘉" />
			<!--{else}-->
				&nbsp;<img src="image/realname_no.gif" align="absmiddle" alt="鏈€氳繃瀹炲悕璁よ瘉" /> <span class="gray">瀹炲悕鏈璇?/span>
			<!--{/if}-->
		<!--{/if}-->
			
		<!--{if $_SCONFIG[videophoto]}-->	
			<!--{if $space[videostatus]}-->
				&nbsp;<img src="image/videophoto_yes.gif" align="absmiddle" alt="宸查€氳繃瑙嗛璁よ瘉" /> <a id="a_space_videophoto" href="space.php?uid=$space[uid]&do=videophoto" onclick="ajaxmenu(event, this.id, 1)"><span style="color:red;font-weight:bold;font-size:12px;">鏌ョ湅瑙嗛璁よ瘉鐓?/span></a>
			<!--{else}-->
				&nbsp; <img src="image/videophoto_no.gif" align="absmiddle" alt="鏈€氳繃瑙嗛璁よ瘉" /> <span class="gray"><a href="cp.php?ac=videophoto">瑙嗛鏈璇?/a></span>
			<!--{/if}-->
		<!--{/if}-->
		</h3>


		<div id="spaceindex_note">
			<a href="rss.php?uid=$space[uid]" id="i_rss" title="璁㈤槄 RSS">璁㈤槄</a>
			
			<ul class="note_list">
				<li>宸叉湁 $space[viewnum] 浜烘璁块棶</li>
				<li>鐢ㄦ埛缁勫埆锛?a href="cp.php?ac=credit&op=usergroup">{$_SGLOBAL[grouptitle][$space[groupid]][grouptitle]}</a> <!--{eval g_icon($space[groupid]);}--></li>
				<li>涓婚〉鍦板潃锛?a href="$space[domainurl]" class="spacelink domainurl">$space[domainurl]</a></li>
			
				<!--{if !$space[self] && $space[spacenote]}-->
				<li>$space[spacenote] <a href="space.php?uid=$space[uid]&do=doing">&raquo;</a></li>
				<!--{/if}-->
			</ul>
	
			<!--{if $space[self]}-->
				<!--{template space_status}-->
			<!--{/if}-->
		</div>

		<div id="maincontent">

		<!--{if !$space['isfriend']}-->
		<div class="borderbox">
			<p style="padding-bottom:10px;">濡傛灉鎮ㄨ璇唟$_SN[$space[uid]]}锛屽彲浠ョ粰TA鐣欎釜瑷€锛屾垨鑰呮墦涓嫑鍛硷紝鎴栬€呮坊鍔犱负濂藉弸銆?br />鎴愪负濂藉弸鍚庯紝鎮ㄥ氨鍙互绗竴鏃堕棿鍏虫敞鍒癟A鐨勬洿鏂板姩鎬併€?/p>
			<a href="cp.php?ac=friend&op=add&uid=$space[uid]" id="a_friend_notice" onclick="ajaxmenu(event, this.id, 1)" class="w-bbtn w-bbtn-0 bindbtn ztag">鍔犱负濂藉弸</a><p></p>
		</div><br />
		<!--{/if}-->
		<!--{if $feedlist}-->
		<!--{eval $_TPL['hidden_hot']=1;}-->
		<div id="space_feed" class="feed">
			<h3 class="feed_header">
				<span class="r_option">
				<a href="space.php?uid=$space[uid]&do=feed&view=me" class="action">鍏ㄩ儴</a>
				</span>
				<span class="entry-title">鏈€鏂板姩鎬?/span>
			</h3>
			<div class="box_content">
				<ul>
				<!--{loop $feedlist $value}-->
					<!--{template space_feed_li}-->
				<!--{/loop}-->
				</ul>
			</div>
		</div>
		<!--{/if}-->
		<!--{loop $widelist $value}-->
		<!--{if $value[myml]}-->
		<div id="space_app_$value[appid]" class="appbox">
			<h3 class="feed_header">
				<!--{if $space[self]}-->
				<a href="cp.php?ac=space&op=delete&appid=$value[appid]" id="user_app_$value[appid]" class="r_option float_del" onclick="ajaxmenu(event, this.id)" title="鍒犻櫎">鍒犻櫎</a>
				<!--{/if}-->
				<a href="$value[appurl]">$value[appname]</a>
			</h3>
			<div class="box" style="margin: 0 0 20px;">
			<!--{eval eval($value[myml]);}-->
			</div>
		</div>
		<!--{/if}-->
		<!--{/loop}-->

		</div>

		<div id="comment" class="comments_list">
			<h3 class="feed_header">
				<a href="space.php?uid=$space[uid]&do=wall&view=me" class="r_option">鍏ㄩ儴</a>
				缁欐垜鐣欒█
			</h3>

			<div class="box">
				<form action="cp.php?ac=comment" id="quick_commentform_{$space[uid]}" name="quick_commentform_{$space[uid]}" method="post" style="padding:0 0 0 5px;">
					<a href="###" id="editface" onclick="showFace(this.id, 'comment_message');return false;"><img src="image/facelist.gif" align="absmiddle" /></a>
					
					<br />
					<textarea name="message" id="comment_message" rows="4" cols="60" style="width:98%;" onkeydown="ctrlEnter(event, 'commentsubmit_btn');"></textarea><br />
					<input type="hidden" name="refer" value="space.php?uid=$space[uid]" />
					<input type="hidden" name="id" value="$space[uid]" />
					<input type="hidden" name="idtype" value="uid" />
					<input type="hidden" name="commentsubmit" value="true" />
					<input type="button" id="commentsubmit_btn" name="commentsubmit_btn" class="w-bbtn w-bbtn-0 bindbtn ztag" value="鐣欒█" onclick="ajaxpost('quick_commentform_{$space[uid]}', 'wall_add')"  style="margin-top:18px;"/>
					<span id="__quick_commentform_{$space[uid]}"></span>
					<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
				</form>
			</div>

			<div class="box_content">
				<ul class="post_list a_list justify_list" id="comment_ul">
				<!--{loop $walllist $value}-->
					<!--{template space_comment_li}-->
				<!--{/loop}-->
				</ul>
				<!--{if $walllist}-->
				<p class="r_option" style="padding:5px 0 10px 0;"><a href="space.php?uid=$space[uid]&do=wall&view=me">&raquo; 鏇村鐣欒█</a></p>
				<!--{/if}-->
			</div>
		</div>
	</div>
</div>


<!--{template footer}-->

<script>
function getindex(type) {
	var plus = '';
	if(type == 'event') plus = '&type=self';
	ajaxget('space.php?uid=$space[uid]&do='+type+'&view=me'+plus+'&ajaxdiv=maincontent', 'maincontent');
}



</script></div>