<!--{template header}-->
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>室内外定位系统</title>
<style type="text/css">
#container {width:968px;height:485px; margin-top:0px;border:1px solid gray}
#infop{ width:966px; height:100px;border:1px solid gray; margin-top:0px;}
#info{ width:966px; height:100px;margin-top:-75px;}
.aa{display:block; width:50px; height:20px; background:#CCC; float:left;}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.2"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/GeoUtils/1.2/src/GeoUtils_min.js"></script>
</head>
<body id="guide-newflow" class="login">
<div>
<ul class="m-btab">
<li><a href="space.php?do=topic&em=user"><span>好友</span></a></li>
<li><a href="space.php?do=topic&em=album"><span>照片</span></a></li>
</ul>
</div> 
<!--{if $_GET['em'] == 'user'}-->
    <div id="header">
<div id="opi" class="page-wrapper clearfix">
<div class="full-page-holder">
<div class="full-page">
<div class="login-page clearfix">
    <div class="main-column">
        <div id="container"></div>
        <div id="infop">好友列表</div>
        <div id="info"></div>
    </div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>

<script type="text/javascript">
//创建地图
var map = new BMap.Map("container");
map.centerAndZoom(new BMap.Point(117.153432,34.222465),17);     // 初始化地图,设置中心点坐标和地图级别
map.addControl(new BMap.NavigationControl());               // 添加平移缩放控件
map.addControl(new BMap.ScaleControl());                    // 添加比例尺控件
map.enableScrollWheelZoom();                            //启用滚轮放大缩小
map.addControl(new BMap.MapTypeControl());          //添加地图类型控件
map.enableKeyboard();							//启用键盘上下左右键移动地图
map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设


//显示可视区域内的标注
function addMymarkers(){
	
    document.getElementById("info").innerHTML = '';
    for(i=0;i<markers.length;i++){
        var result = BMapLib.GeoUtils.isPointInRect(markers[i].point, map.getBounds());
        if(result == true) map.addOverlay(markers[i]);
        else map.removeOverlay(markers[i]);
        document.getElementById("info").innerHTML += '<img src="' + markers[i].getIcon().imageUrl +'" />';        
    }
}
//对地图级别变化、移动结束和图块加载完毕后，进行添加marker的操作
map.addEventListener("tilesloaded", addMymarkers);
map.addEventListener("zoomend", addMymarkers);
map.addEventListener("moveend", addMymarkers);

<!--{loop $array $k=>$value}-->
//创建30个点
var p$k = new BMap.Point($value["longitude"],$value["latitude"]);
//创建30张图标
<!--{if $value['sex']=='1'}-->
var icon$k= new BMap.Icon("../../image/nan.jpg", new BMap.Size(40,50));
<!--{else}-->
var icon$k= new BMap.Icon("../../image/nv.jpg", new BMap.Size(40,50));
<!--{/if}-->
//创建30个marker，但不添加到地图上
var m$k = new BMap.Marker(p$k,{icon:icon$k}); 
//创建信息窗口
var infoWindow$k = new BMap.InfoWindow("<p><a href='album.php?uid=$value['uid']'><img src='../attachment/$value[filepath]' width='50px;' height='50px;'></a><span style='float:right; width:130px;'>昵称：$value['nickname']<br>个性签名：$value['signature']<br><em class='page'><!--{if $value['isfriend']=='1'}--><a href='cp.php?ac=friend&op=add&uid=$value['uid']' id='a_friend_$key' onclick='ajaxmenu(event, this.id, 1)' title='加好友'>加好友</a><!--{/if}--></em>&nbsp;&nbsp;</span></p><hr width='210px;'><p>动态：<!--{if $value[title_template]!=''}-->$value[title_template]<!--{else}-->没有动态！<!--{/if}--></p><p style='margin-top:5px;'><em class='page' style='float:left;'><a href='?$value['uid']'>进入主页</em></a><em class='page' style='float:right;'><a href='cp.php?ac=pm&uid=22' id='a_pm' onclick='ajaxmenu(event, this.id, 1)'>发送消息</em></a></p>");
//绑定
m$k .addEventListener("click", function(){this.openInfoWindow(infoWindow$k);});

<!--{/loop}-->
//建立一个marker的数组<a href="cp.php?ac=pm&amp;uid=22" id="a_pm" onclick='ajaxmenu(event, this.id, 1)'>发送消息</a>
var markers = [
				<!--{loop $array $k=>$value}-->
				    m$k
				   <!--{if $k<$value}-->
				    ,
				   <!--{/if}-->
				<!--{/loop}-->
              ];
			  
</script>
<script>
function void(){
<!--{loop $array $k=>$value}-->
//创建30个点
var p$k = new BMap.Point($value["longitude"],$value["latitude"]);
<!--{/loop}-->	
}
</script>
<!--{elseif $_GET['em'] == 'album'}-->

    <div id="header">
<div id="opi" class="page-wrapper clearfix">
<div class="full-page-holder">
<div class="full-page">
<div class="login-page clearfix">
    <div class="main-column">
        <div id="container"></div>
        <div id="infop">照片列表</div>
        <div id="info"></div>
    </div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>

<script type="text/javascript">
//创建地图
var map = new BMap.Map("container");
map.centerAndZoom(new BMap.Point(117.153432,34.222465),17);     // 初始化地图,设置中心点坐标和地图级别
map.addControl(new BMap.NavigationControl());               // 添加平移缩放控件
map.addControl(new BMap.ScaleControl());                    // 添加比例尺控件
map.enableScrollWheelZoom();                            //启用滚轮放大缩小
map.addControl(new BMap.MapTypeControl());          //添加地图类型控件
map.enableKeyboard();							//启用键盘上下左右键移动地图
map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设


//显示可视区域内的标注
function addMymarkers(){
	
    document.getElementById("info").innerHTML = '';
    for(i=0;i<markers.length;i++){
        var result = BMapLib.GeoUtils.isPointInRect(markers[i].point, map.getBounds());
        if(result == true) map.addOverlay(markers[i]);
        else map.removeOverlay(markers[i]);
        document.getElementById("info").innerHTML += '<img src="' + markers[i].getIcon().imageUrl +'" />';        
    }
}
//对地图级别变化、移动结束和图块加载完毕后，进行添加marker的操作
map.addEventListener("tilesloaded", addMymarkers);
map.addEventListener("zoomend", addMymarkers);
map.addEventListener("moveend", addMymarkers);

<!--{loop $arrayr $k=>$value}-->
//创建30个点
var p$k = new BMap.Point($value["longitude"],$value["latitude"]);
//创建30张图标
<!--{if $value[count] <= 10}-->
var icon$k= new BMap.Icon("template/default/u24_normal.png", new BMap.Size(95,58));
<!--{elseif $value['count']>10&&$value['count']<=20}-->
var icon$k= new BMap.Icon("template/default/u12_normal.png", new BMap.Size(95,58));
<!--{elseif $value['count']>20&&$value['count']<=30}-->
var icon$k= new BMap.Icon("template/default/3.gif", new BMap.Size(95,58));
<!--{elseif $value['count']>30&&$value['count']<=40}-->
var icon$k= new BMap.Icon("template/default/u16_normal.png", new BMap.Size(95,58));
<!--{elseif $value['count']>40&&$value['count']<=50}-->
var icon$k= new BMap.Icon("template/default/5.gif", new BMap.Size(95,58));
<!--{elseif $value['count']>50&&$value['count']<=60}-->
var icon$k= new BMap.Icon("template/default/6.gif", new BMap.Size(95,58));
<!--{elseif $value['count']>60&&$value['count']<=70}-->
var icon$k= new BMap.Icon("template/default/7.gif", new BMap.Size(95,58));
<!--{elseif $value['count']>70&&$value['count']<=80}-->
var icon$k= new BMap.Icon("template/default/8.gif", new BMap.Size(95,58));
<!--{else}-->
var icon$k= new BMap.Icon("template/default/u14_normal.png", new BMap.Size(95,58));
<!--{/if}-->

					
//var icon$k= new BMap.Icon("<!--{if $value['count']<=10}-->template/default/u24_normal.png<!--{/if}-->", new BMap.Size(95,58));


//创建30个marker，但不添加到地图上
var m$k = new BMap.Marker(p$k,{icon:icon$k}); 
//创建信息窗口
//var infoWindow$k = new BMap.InfoWindow("<p>eeeeeeeeeeeeee</p>");
//绑定
m$k .addEventListener("click", function(){this.openInfoWindow(infoWindow$k);});

<!--{/loop}-->
//建立一个marker的数组<a href="cp.php?ac=pm&amp;uid=22" id="a_pm" onclick='ajaxmenu(event, this.id, 1)'>发送消息</a>
var markers = [
				<!--{loop $arrayr $k=>$value}-->
				    m$k
				   <!--{if $k<$value}-->
				    ,
				   <!--{/if}-->
				<!--{/loop}-->
              ];
			  
</script>
<script>
function void(){
<!--{loop $arrayr $k=>$value}-->
//创建30个点
var p$k = new BMap.Point($value["longitude"],$value["latitude"]);
<!--{/loop}-->	
}
</script>


<!--{/if}-->
<!--{template footer}-->

