<!--{if empty($_SGLOBAL['inajax'])}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta name="author" content="netease"/>
	<meta name="version" content="1.0"/>
<meta http-equiv="content-type" content="text/html; charset=$_SC[charset]" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title><!--{if $_SN[$space[uid]]}-->{$_SN[$space[uid]]} - <!--{/if}-->中国矿业大学室内外位置服务系统</title>
<script language="javascript" type="text/javascript" src="source/script_cookie.js"></script>
<script language="javascript" type="text/javascript" src="source/script_common.js"></script>
<script language="javascript" type="text/javascript" src="source/script_menu.js"></script>
<script language="javascript" type="text/javascript" src="source/script_ajax.js"></script>
<script language="javascript" type="text/javascript" src="source/script_face.js"></script>
<script language="javascript" type="text/javascript" src="source/script_manage.js"></script>
<style type="text/css">
@import url(template/default/style.css);
@import url(css/pt_lib_macro.css);
</style>
<link rel="shortcut icon" href="image/favicon.png" />
<link rel="edituri" type="application/rsd+xml" title="rsd" href="xmlrpc.php?rsd=$space[uid]" />   
   <script type="text/javascript">
   (function(window,document){
        if(top!=window) top.location=location.href;
        document.uniqueID!=document.uniqueID&&!!location.hash&&(location.hash=location.hash);
        window.focus();
    })(this,document);
	
	window.isInDashboard = true;
	</script>

</head>
<body class="page-lofter">

<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
	<div id="header">
	<!--{if $_SGLOBAL['ad']['header']}--><div id="ad_header"><!--{ad/header}--></div><!--{/if}-->
<div id="lofterheadbar" class="g-hd">
    <h1 class="m-logo"><a>中国矿业大学室内外位置服务系统</a></h1>
    <div class="m-nav" id="topbar">
	        <ul class="nav1 tbtag">
	            <li class=""><a href="space.php?do=home">首页</a></li>
				<li class=""><a href="space.php?do=map">地图</a></li>
	            <li class=""><a href="space.php?uid=$_SGLOBAL['supe_uid']&do=blog&view=all">公告</a></li>
                <li class=""><a href="space.php?do=pm<!--{if !empty($_SGLOBAL['member']['newpm'])}-->&filter=newpm<!--{/if}-->">消息<!--{if !empty($_SGLOBAL['member']['newpm'])}-->(新)<!--{/if}--></a></li>
	            <li>
	            	<a href="#" class="tbtag" onclick="abb2.className='a-w-sel a-w-sel-4 tbtag a-w-sel-do';abb1.style.marginTop=0" >更多<span class="more tbtag">&nbsp;&nbsp;&nbsp;</span></a>
                    <!--onclick是更多的鼠标点击响应事件-->
	            	<div id="abb2" class="a-w-sel a-w-sel-4 tbtag" onmousemove="abb2.className='a-w-sel a-w-sel-4 tbtag a-w-sel-do';abb1.style.marginTop=0" >
                    <!--定义id abb2 挡鼠标在此区域 时候触发abb2的class显示内容-->
		            	<div class="w-sel w-sel-4" id="abb1" style="margin-top: -240px; ">
		                	<div class="selc">
		                    	<div class="selcc tbtag">
		                            <div class="seli"><a class="nx-1" href="cp.php?ac=profile">帐号设置</a></div>
		                            <div class="seli"><a class="nx-2" href="cp.php?ac=friend&op=search">寻找好友</a></div>
		                            <div class="seli"><a class="nx-3" href="cp.php?ac=common&op=logout&uhash=$_SGLOBAL[uhash]">退出</a></div>
		                        </div>
		                    </div>
		                </div>
		            </div>
	            </li>
	        </ul>
    </div>
</div>
	</div>

	<div id="wrap" onmouseover="abb2.className='a-w-sel a-w-sel-4 tbtag ';abb1.style.marginTop=-240" >
	<!--当鼠标进入此区域时abb2的事件将abb1移除显示区域-->
	<!--{if empty($_TPL['nosidebar'])}-->
	<div id="main">
		<div id="mainarea">
		<!--{if $_SGLOBAL['ad']['contenttop']}--><div id="ad_contenttop"><!--{ad/contenttop}--></div><!--{/if}-->
	<!--{/if}-->

<!--{/if}-->


<!--{if !empty($_SGLOBAL[inajax])}-->
	<div id="space_photo">
		<h3 class="feed_header">
			<a href="cp.php?ac=upload" class="r_option" target="_blank">上传图片</a>
			相册(共 $count 个)</h3>
		<!--{if $count}-->
		<table cellspacing="4" cellpadding="4" width="100%">
		<tr>
			<!--{loop $list $key $value}-->
			<td width="85" align="center"><a href="space.php?uid=$space[uid]&do=album&id=$value[albumid]" target="_blank"><img src="$value[pic]" alt="$value[albumname]" width="70" /></a></td>
			<td width="165">
				<h6><a href="space.php?uid=$space[uid]&do=album&id=$value[albumid]" target="_blank" title="$value[albumname]">$value[albumname]</a></h6>
				<p class="gray">$value[picnum] 张照片</p>
				<p class="gray">更新于 <!--{date('m-d',$value[dateline],1)}--></p>
			</td>
			<!--{if $key%2==1}--></tr><tr><!--{/if}-->
			<!--{/loop}-->
		</tr>
		</table>
		<!--{if $pricount}-->
		<div class="c_form">本页有 $pricount 个相册因作者的隐私设置而隐藏</div>
		<!--{/if}-->
		<div class="page">$multi</div>
		<!--{else}-->
		<div class="c_form">没有可浏览的列表。</div>
		<!--{/if}-->
	</div><br>
<!--{else}-->

<!--{if $space[self]}-->
<div class="tabs_header">
	<ul class="m-btab">
		<!--{if $space[friendnum]}--><li$actives[we]><a href="space.php?uid=$space[uid]&do=$do&view=we"><span>好友最新相册</span></a></li><!--{/if}-->
		<li$actives[all]><a href="space.php?uid=$space[uid]&do=$do&view=all"><span>大家的相册</span></a></li>
		<li$actives[me]><a href="space.php?uid=$space[uid]&do=$do&view=me"><span>我的相册</span></a></li>
		<li$actives[click]><a href="space.php?uid=$space[uid]&do=$do&view=click"><span>我表态过的图片</span></a></li>
		<li class="null"><a href="cp.php?ac=upload&op=flash&albumid=$albumid">上传新图片</a></li>
	</ul>
</div>
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "相册";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=album&view=me\">TA的所有相册</a>";
}-->
<!--{template space_menu}-->
<!--{/if}-->

<!--{if $_GET['view'] == 'me'}-->
<div>
<!--{else}-->
<div id="content" style="width:800px;">
<!--{/if}-->


<!--{if $_GET['orderby'] && $_GET['orderby'] != 'dateline'}-->
<div class="h_status">
	排行时间范围：
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]"{$day_actives[0]}>全部</a><span class="pipe">|</span>
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]&day=1"{$day_actives[1]}>最近一天</a><span class="pipe">|</span>
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]&day=2"{$day_actives[2]}>最近两天</a><span class="pipe">|</span>
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]&day=7"{$day_actives[7]}>最近七天</a><span class="pipe">|</span>
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]&day=30"{$day_actives[30]}>最近三十天</a><span class="pipe">|</span>
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]&day=90"{$day_actives[90]}>最近三个月</a><span class="pipe">|</span>
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]&day=120"{$day_actives[120]}>最近六个月</a>
</div>
<!--{/if}-->

<!--{if $space[self] && $_GET['view']=='me'}-->
<div class="h_status">
下面列出的是你自行创建相册列表。<br>
你上传的图片附件，全部存放在<a href="space.php?uid=$space[uid]&do=album&id=-1">系统默认相册</a>里面。
</div>
<!--{/if}-->
	
	
<!--{if $picmode}-->

	<!--{if $pricount}-->
	<div class="h_status">本页有 $pricount 张图片因作者的隐私设置而隐藏</div>
	<!--{/if}-->
	
	<!--{if $count}-->
	<table cellspacing="0" cellpadding="0" width="100%" class="pic_list">
		<tr>
		<!--{loop $list $key $value}-->
		<td align="center">
			<div class="pic_bg"><a href="space.php?uid=$value[uid]&do=album&picid=$value[picid]"><img src="$value[pic]" alt="" /></a></div>
			<a href="space.php?uid=$value[uid]&do=$do&id=$value[albumid]">$value[albumname]</a><br>
			<a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a>
		</td>
		<!--{if $key%4==3}--></tr><tr><!--{/if}-->
		<!--{/loop}-->
		</tr>
	</table>
	<div class="page">$multi</div>
	<!--{else}-->
	<div class="c_form">没有可浏览的列表。</div>
	<!--{/if}-->
	
<!--{else}-->

	<!--{if $searchkey}-->
	<div class="h_status">以下是搜索相册 <span style="color:red;font-weight:bold;">$searchkey</span> 结果列表</div>
	<!--{/if}-->
	
	<!--{if $pricount}-->
	<div class="h_status">提示：本页有 $pricount 个相册因作者的隐私设置而隐藏</div>
	<!--{/if}-->

	<!--{if $count}-->
	<table class="album_list" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<!--{loop $list $key $value}-->
		<td style="padding-bottom: 20px;">
			<div class="album_bg"><a href="space.php?uid=$value[uid]&do=$do&id=$value[albumid]"><img src="$value[pic]" alt="$value[albumname]" /></a></div>
			<p><a href="space.php?uid=$value[uid]&do=$do&id=$value[albumid]"><!--{if $value[albumname]}-->$value[albumname]<!--{else}-->默认相册<!--{/if}--></a> <!--{if $value[picnum]}--><span class="gray">($value[picnum])</span><!--{/if}--></p>
			<!--{if $_GET[view]!='me'}--><p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p><!--{/if}-->
			<!--{if $value[uid]==$_SGLOBAL[supe_uid]}--><p class="gray"><a href="cp.php?ac=album&op=editpic&albumid=$value[albumid]">管理相册</a><span class="pipe">|</span><a href="cp.php?ac=upload&op=flash&albumid=$albumid">上传图片</a></p><!--{/if}-->
			<!--{if $_GET[view]!='me'}--><p class="gray">更新: <!--{date('m-d H:i', $value[updatetime], 1)}--></p><!--{/if}-->
		</td>
		<!--{if $key%4==3}--></tr><tr><!--{/if}-->
		<!--{/loop}-->
		</tr>
	</table>
	<div class="page">$multi</div>
	<!--{else}-->
	<div class="c_form">没有可浏览的列表。</div>
	<!--{/if}-->
	
<!--{/if}-->

</div>

<!--{if $_GET['view'] != 'me'}-->
<div id="sidebar" style="width:150px;">
	
<!--{if $userlist}-->
	<div class="cat">
	<h3>按好友查看</h3>
	<ul class="post_list line_list">
		<li>
			选择好友:<br>
			<select name="fuidsel" onchange="fuidgoto(this.value);">
			<option value="">全部好友</option>
			<!--{loop $userlist $value}-->
			<option value="$value[fuid]"{$fuid_actives[$value[fuid]]}>{$_SN[$value[fuid]]}</option>
			<!--{/loop}-->
			</select>
		</li>
	</ul>
	</div>
<!--{/if}-->

<!--{if $_GET['view'] == 'click'}-->
	<div class="cat">
	<h3>表态动作</h3>
	<ul class="post_list line_list">
		<li$click_actives[all]><a href="space.php?do=album&view=click">全部动作</a></li>
		<!--{loop $clicks $value}-->
		<li{$click_actives[$value[clickid]]}>
			<a href="space.php?do=album&view=click&clickid=$value[clickid]">$value[name]</a>
		</li>
		<!--{/loop}-->
	</ul>
	</div>
<!--{elseif $_GET['view'] == 'all'}-->
	<div class="cat">
	<h3>排行榜</h3>
	<ul class="post_list line_list">
		<li$all_actives[all]><a href="space.php?do=album&view=all">热图推荐</a></li>
		<li$all_actives[dateline]><a href="space.php?do=album&view=all&orderby=dateline">最新更新</a></li>
		<li$all_actives[hot]><a href="space.php?do=album&view=all&orderby=hot&day=$_GET[hotday]">人气排行</a></li>
		<!--{loop $clicks $value}-->
		<li{$all_actives['click_'.$value[clickid]]}><a href="space.php?do=album&view=all&orderby=click_$value[clickid]&day=$_GET[hotday]">{$value[name]}排行</a></li>
		<!--{/loop}-->
	</ul>
	</div>
<!--{/if}-->

</div>
<!--{/if}-->

<script>
function fuidgoto(fuid) {
	window.location.href = "space.php?do=album&view=we&fuid="+fuid;
}
</script>
<!--{/if}-->

<!--{template footer}-->