<!--{template header3}-->
<div id="xbody">
  <style type="text/css"> 
  <!-- 
  @import url(common/cumt/css/map.css);
  @import url(common/cumt/css/mapnav.css);
  --> 
  </style>
  
  <div id="xmap">

    <div class="col702" >
    	<div id="xmapinfonav">
        	<ul id="tab_nav">
              <li><a href="space.php?do=map&type=user" >附近的人</a></li>
              <li><a href="space.php?do=map&type=pic">附近的照片</a></li>
        	</ul>
             <div id="tab_content">
              <div class="listing" id="listing">
                  <div style="height:100%;">
                      <ul class="list fix" id="map_pan_list">

                      </ul>
                  </div>
              </div>
          </div>
        </div>
    </div>
    
    <div class="col701">
      <div id="allmap" ></div>
    </div>
    
  </div>
</div>
<script type="text/javascript">
var height = document.body.clientHeight;
height -= 82;
document.getElementById('xbody').style.height = height+'px';
document.getElementById('listing').style.height = (height-40)+'px';

</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=7fa08c31358e225f24453d182872eea1"></script>
<script type="text/javascript" src="common/cumt/js/ajax_sync.js"></script>

<script type="text/javascript">
//创建地图
var marker = new Array();
var infoWindow = new Array();
var map = new BMap.Map("allmap");
var clickid = 0;
map.centerAndZoom(new BMap.Point(117.153432,34.222465),15);     // 初始化地图,设置中心点坐标和地图级别
map.addControl(new BMap.NavigationControl());               // 添加平移缩放控件
map.addControl(new BMap.ScaleControl());                    // 添加比例尺控件
map.enableScrollWheelZoom();                            //启用滚轮放大缩小
map.addControl(new BMap.MapTypeControl());          //添加地图类型控件
map.enableKeyboard();							//启用键盘上下左右键移动地图
map.addEventListener("tilesloaded", showInfo);
map.addEventListener("moveend", showInfo);
map.addEventListener("zoomend", showInfo);
map.addEventListener("click", function(){
if(clickid != 0)
{
	clickid = 0;
	
}
});

			  

function showInfo(){
 var selectid = -1;
 var cp = map.getCenter();
 var bounds = map.getBounds();
 var zoom = map.getZoom();
 var relation = ['陌生人','好友','自己'];
 var bmin = bounds.getSouthWest();
 var bmax = bounds.getNorthEast();
 var rs = study365ajax_sync('map_pic2','lngmin='+bmin.lng+'&latmin='+bmin.lat+'&lngmax='+bmax.lng+'&latmax='+bmax.lat+'&zoom='+zoom+'&clickid='+clickid);
 var pics = eval('('+rs+')');
 map.clearOverlays();
 document.getElementById("map_pan_list").innerHTML = "重新加载中";
 var infohtml = "";
 
 marker = new Array();
 marker1 = new Array();
 infoWindow = new Array();

 for (var i=0; i<pics.count; i++)
 {
	 addmarker(i);
	 
 }
 //addmarker(0);
 document.getElementById("map_pan_list").innerHTML = infohtml;
 //alert(cp.lng + "," + cp.lat);
 function addmarker(i)
 {
	  
	  var pt = new BMap.Point(pics.msg[i].longitude,pics.msg[i].latitude);
	  var myIcon = new BMap.Icon(pics.msg[i].pic[0].url, new BMap.Size(64,64));
	  marker[i] = new BMap.Marker(pt,{icon:myIcon});  // 创建标注
	  map.addOverlay(marker[i]);              // 将标注添加到地图中

	  
	  //让小狐狸说话（创建信息窗口）
	  html = "<img src='"+pics.msg[i].url+"' width='500px;' height='500px;'>";
	  infoWindow[i] = new BMap.InfoWindow(html);
	  marker[i].addEventListener("click", function(){this.openInfoWindow(infoWindow[i]);});
	  if(pics.msg[i].selectid == 1)
	  {
		  selectid = i;
	  }
	  
	  infohtml += "<li class='list_li  fix' mapid='"+i+"' picid='"+pics.msg[i].id+"' link='/loupan/204738.html?from=map_loupanlist' onclick='showinfowindow(this)'><a class='a_img' href='"+pics.msg[i].url+"' target='_blank'><img src='"+pics.msg[i].url+"'></a><dl class='dl_info'><dd class='dd_02'>所有者："+pics.msg[i].username+"</dd></dl></li>";
	 // document.getElementById("map_pan_list").innerHTML += htmlinfo;
 }
 if( selectid != -1)
 {
	 marker[selectid].openInfoWindow( infoWindow[selectid] ); 
 }
 
}
function showinfowindow(e){
	var obj = e;
	var picid = obj.getAttribute("picid");
	clickid = picid;
	var id = obj.getAttribute("mapid");
	marker[id].openInfoWindow( infoWindow[id] ); 
}


</script>
<!--{template footer3}-->


