<ol>
<!--{loop $list $value}-->
<!--{if $value[uid]}--><div style="background:#CCC; width:100%; height:1px;"></div>
<li style="margin-top:12px; margin-bottom:10px; font-size:14px; height:20px;<!--{if $value[topid]}-->text-indent: 2em;<!--{/if}-->">
	<a href="space.php?uid=$value[uid]">{$_SUSER[$value[uid]]}</a>回复<!--{if $value[topid]}--><a href="space.php?uid=$value[authorid]">{$value[author]}</a><!--{/if}-->: $value[message] <span class="doingtime">(<!--{date('m-d H:i',$value[dateline],1)}-->)</span> 
    <div style="text-align:right; margin-top:-22px;">
	<!--{if $value[uid]==$_SGLOBAL[supe_uid] || $dv['uid']==$_SGLOBAL[supe_uid]}--> <a href="cp.php?ac=shuoshuo&op=delete&doid=$doid&cid=$value[cid]" id="doing_delete_{$value[doid]}_{$value[id]}" onclick="ajaxmenu(event, this.id)" class="gray">删除</a><!--{/if}-->&nbsp;
	<a href="javascript:;" onclick="xxxdocomment_form($doid,$value[cid],<!--{if $value[topid]}-->{$value[topid]}<!--{else}-->{$value[cid]}<!--{/if}-->,$value[uid]);" class="re">回复</a>
    </div>
	<span id="docomment_form_{$doid}_{$value[cid]}"></span>
</li>
<!--{/if}-->
<!--{/loop}-->
</ol>