<!--{template header}-->
<style>
a, a:hover, .day{color:#828d95;}
.sidelist li a, .tag a, .active{background-color:#828d95;}
</style>
<link href="css/bloglist.css" rel="stylesheet" type="text/css">
<!--div style="height:30px;"></div-->
<div class="tabs_header">
<ul class="m-btab">
<li><a href="space.php?uid=$_SGLOBAL['supe_uid']&do=blog&view=both"><span>所有公告</span></a></li>
<li><a href="space.php?uid=$_SGLOBAL['supe_uid']&do=blog&view=we"><span>学校公告</span></a></li>
<li><a href="space.php?uid=$_SGLOBAL['supe_uid']&do=blog&view=all"><span>学院公告</span></a></li>
<li><a href="space.php?uid=$_SGLOBAL['supe_uid']&do=blog&view=me"><span>专业公告</span></a></li>
<li><a href="space.php?uid=$_SGLOBAL['supe_uid']&do=blog&view=click"><span>班级公告</span></a></li>
<!--{if $schoRole!=0 || $majoRole!=0 || $clasRole!=0 || $collRole!=0}-->
<li><a href="cp.php?ac=notice">发表新公告</a></li>
<!--{/if}-->
</ul>
</div>	
<div class="postwrapper box wid960">
<!--{if $count}-->
<!--{loop $array $val}-->
    <div class="block article">
        <div class="side">
            <div class="day"><a title="$val['month']月 $val['daty']日">$val['daty']</a></div>
            <div class="month"><a title="$val['year']年 $val['month']月">$val['month']月</a></div>
        </div>
        <div class="main">
            <div class="content">
                <div class="text">
                
                   <h2><em>[</em>$val['title']<em>]</em></h2><p>$val['content']</p>              
                </div>
              
        	</div>
		</div> 
	</div> 
     <!--{/loop}-->

<div class="page">
    <!--{if $page>1}-->      
  	<a   href='$me&page=$first'>首页</a>
  	<a   href='$me&page=$prev'>上一页</a>
    <!--{/if}-->
    <!--{if $page<$pages}-->
    <a   href='$me&page=$next'>下一页</a>
    <a   href='$me&page=$last'>尾页</a>
    <!--{/if}--> 
</div>
<!--{else}-->
	<div class="block article">
        <div class="main">
            <div class="content">
                <div class="text">
                   <p>还没有相关的公告。</p>              
                </div>
        	</div>
    	</div>
	</div> 
<!--{/if}-->
</div>

<!--{template footer}-->
