@charset "utf-8";
/* CSS Document */
#xfooter{
	margin:0 auto;
	width:100%;
}
#xfooter .x-ft{
	min-height:50px;
	margin:0 auto;
	padding-top:15px;
	padding-bottom:20px;
	text-align: center;
}
#xfooter .x-ft hr{
	margin:0 auto;
	width:970px;
	margin-bottom:5px;
}
#xfooter .x-ft p{
	margin:0 auto;
	margin-bottom:5px;
}