@charset "utf-8";
/* CSS Document */


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, p, blockquote, th, td {
padding: 0;
margin: 0;
}
user agent stylesheetform {
display: block;
margin-top: 0em;
}

#login{
}

.m-reg .arr, .m-login .arr {
text-align: center;
}
.m-login .arr .arml {
margin-left: -410px;
}
.m-stwrap1 .m-userlnks, .m-login, .m-login .arr span, .m-stwrap-a {
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
}
.m-reg .arr span, .m-login .arr span {
display: inline-block;
position: relative;
top: 2px;
width: 36px;
height: 17px;
background-position: -404px -290px;
}
.m-logbm .prv, .m-logbm .nxt, .m-reg .arr span, .m-login .arr span, .w-user-3 a, .w-user .warn .icn, .chkbox .c, .validt .icn, .w-sbtn-4, .m-msgbox .btn, .m-intro1 .i3 .btn {
background: url(../image/login-24.png) no-repeat;
_background-image: url(../image/login-24.png);
}
Inherited from div.arr
.m-reg .arr, .m-login .arr {
text-align: center;
}

.m-reg .contl, .m-login .contl {
float: left;
width: 332px;
}

.m-reg .cont, .m-login .cont {
width: 100%;
height: 600px;
background: #fff;
color: #888;
}

body, textarea, select, input, button {
font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","寰蒋闆呴粦",tahoma,arial,simsun,"瀹嬩綋";
}

.m-reg, .m-login {
position: absolute;
left: 0;
top: 262px;
margin-top: 20px;
width: 100%;
}

.w-user .txt, .w-user label {
position: absolute;
left: 16px;
top: 9px;
}



.w-user .inpt {
position: relative;
zoom: 1;
padding: 9px 16px;
border: 1px solid #d7d7d7;
box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
}
.w-user .inpt, .w-user .txt {
width: 298px;
height: 22px;
font-size: 16px;
line-height: 22px;
}
.w-user label {
color: #aaa;
}
.w-user .txt {
border: 0;
outline: none;
color: #444;
}
.w-user .txt, .w-user label {
position: absolute;
left: 16px;
top: 9px;
}
.w-user .inpt, .w-user .txt {
width: 298px;
height: 22px;
font-size: 16px;
line-height: 22px;
}
.w-account .txt, .w-user .txt, .m-filecnt .sel {
background: url(http://www.lofter.com/rsc/img/empty.png?020) repeat;
}
ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
/*-webkit-padding-start: 40px;*/
}
ul ul, ol ul {
list-style-type: circle;
}
user agent stylesheetul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
.w-user .w0 {
zoom: 1;
margin: 0 0 15px;
}
li {
list-style: none;
}

.w-user-1 .btn:hover, .w-user-1 button.j-hover {
}
.w-user .btn {
width: 332px;
padding-left: 14px;
height: 40px;
border: 0;
}
.w-user .btn, .m-focuson .btn {
background: -moz-linear-gradient(top, #84af00 0%, #79a200 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84af00), color-stop(100%,#79a200));
background: -webkit-linear-gradient(top, #84af00 0%,#79a200 100%);
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
line-height: 40px;
text-align: center;
}

.m-reg .chkbox .c, .m-login .chkbox .c {
position: absolute;
top: 0;
left: 0;
width: 16px;
height: 16px;
background-position: -84px -667px;
}

.w-user .w3 a, .w-user .w3 a:hover {
color: #888;
}
a {
text-decoration: none;
color: #444;
outline: none;
}
a, button {
cursor: pointer;
}
user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}
Inherited from span.chkbox.ztag
Style Attribute {
font-size: 12px;
}