@charset "utf-8";
#xbody{
	/*height:100%;*/
}
#xmap *
{
	margin:0;
	padding:0;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 160%;
}
#xmap #main{
	width:100%;
	/*height:970px;*/
}

#xmap{
	 margin:0 auto;
	  height:100%; 
	  width:100%;
	 /* width:970px; */
}
#xmap div.col701 {
background: none repeat scroll 0% 0%;
height:100%;
margin-right:250px;
/*
float:left;
width:85%;
/*height:50px;*/
}
#xmap div.col702{
background: none repeat scroll 0% 0%;
float:right;
width:250px;
height:100%;
/*margin-left:85%;*/
/*height:50px;*/
}
#xmap #xmapinfonav
{
	height:100%;
	width:100%;
}
#xmap #idlisting
{
}
body, html,#allmap {width: 100%;height: 100%;margin:0;}

#xmap #tab_nav{margin:0; padding:0; height:40px;}
#xmap #tab_nav li{float:left;list-style:none; border:1px solid #999; height:38px;  line-height:38px; width:123px; text-align:left; background:#FFF;}
#xmap a{font:bold 14px/24px "微软雅黑", Verdana, Arial, Helvetica, sans-serif; color:green; text-decoration:none;}
#xmap a:hover{color:red;}
#xmap #tab_content{width:100%; border:0px solid #999; font:bold 4em/273px "微软雅黑", Verdana, Arial, Helvetica, sans-serif; text-align:left; background:#FFF; overflow:hidden;}
#xmap #t_1,#t_2,#t_3{width:100%; height:100%;}
