@charset "utf-8";
/* CSS Document */

#thumb .upload-img-list .upload-img-item,#thumb .auto-rec-img li {
display: inline-block;
vertical-align: top;
height: 100px;
margin: 0 0 20px;
padding-right: 19px;
position: relative;
font-size: 0;
text-align: center;
_overflow: hidden;
}

#thumb .icon-img-remove {
position: absolute;
top: -3px;
right: 11px;
z-index: 1;
width: 20px;
height: 20px;
background-image: url(sprite/icenter_delay-wei131031110405.png?max_age=19830212&d=20131101110101);
background-position: -342px -142px;
}

#thumb input {
position: absolute;
top: -3px;
left: -3px;
z-index: 1;
width: 20px;
height: 20px;
}