@charset "utf-8";
/* CSS Document */
body{
	height:990px;
	width:100%;
}
div {
display: block;
}
#back{
	height:100%;
	width:100%;
	overflow: hidden;
}

#hmain{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 40%;
	margin: -131px auto 0;
	width: 100%;
	height:100%;

	
}
.m-logbg {
position: absolute;
z-index: -1;
top: 0;
left: 0;
overflow: hidden;
}
#hmain .m-stwrap1 .logo {
width: 445px;
margin: 0 auto 50px;
}
#hmain .m-stwrap1 .logo .f1 {
height: 163px;
text-indent: -9999px;
background: url(../image/login-24.png) no-repeat -3px 0;
font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
font-weight: bold;
font-size: 100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, p, blockquote, th, td {
padding: 0;
margin: 0;
}

#hmain .m-userlnks {
position: absolute;
left: 50%;
margin-left: -310px;
opacity: 1;
visibility: visible;
}

#hmain .m-userlnks .login,#hmain .m-userlnks .reg {
color: #fff;
text-shadow: 0 1px 1px #000;
background: -moz-linear-gradient(top, #2c2c2c 0%, #222222 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2c2c), color-stop(100%,#222222));
background: -webkit-linear-gradient(top, #2c2c2c 0%,#222222 100%);
background: -o-linear-gradient(top, #2c2c2c 0%,#222222 100%);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(255, 255, 255, 0.1) inset;
}
#hmain .m-userlnks a {
width: 184px;
padding-left: 8px;
}
#hmain .m-reg,#hmain .m-login {
position: absolute;
left: 0;
top: 262px;
margin-top: 20px;
width: 100%;
}
#hmain .m-userlnks a,#hmain .w-account-2 .btn {
display: block;
float: left;
margin: 0 7px;
width: 192px;
height: 52px;
font-size: 21px;
letter-spacing: 8px;
text-align: center;
line-height: 52px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}

#hmain a {
text-decoration: none;
color: #444;
outline: none;
}
#hmain a,#hmain button {
cursor: pointer;
}
.#hmain m-stwrap1 .m-userlnks,#hmain .m-login,#hmain .m-login .arr span,#hmain .m-stwrap-a {
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
}

#hmain #loginbox .arr span {
background: url(../image/login-24.png) no-repeat;
}
#hmain .m-reg .arr,#hmain .m-login .arr {
text-align: center;
}
#hmain #loginbox .arr span {
display: inline-block;
position: relative;
top: 2px;
width: 36px;
height: 17px;
background-position: -404px -290px;
}
#hmain .m-reg .cont,#hmain .m-login .cont {
width: 100%;
height: 600px;
background: #fff;
color: #888;
}

#hmain .m-userlnks .review:hover {
}
.m-userlnks .review:hover, .w-account-2 .btn:hover {
background: -moz-linear-gradient(top, #fff 0%, #ebebeb 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ebebeb));
background: -webkit-linear-gradient(top, #fff 0%,#ebebeb 100%);
background: -o-linear-gradient(top, #fff 0%,#ebebeb 100%);
}
#hmain .m-userlnks .review {
}
#hmain .m-userlnks .review, .w-account-2 .btn {
color: #333;
text-shadow: 0 1px 1px #fff;
background: -moz-linear-gradient(top, #e7e7e7 0%, #dfdfdf 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#dfdfdf));
background: -webkit-linear-gradient(top, #e7e7e7 0%,#dfdfdf 100%);
background: -o-linear-gradient(top, #e7e7e7 0%,#dfdfdf 100%);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(255, 255, 255, 0.5) inset;
}
#hmain .m-userlnks a {
width: 184px;
padding-left: 8px;
}
#hmain .m-userlnks a, .w-account-2 .btn {
display: block;
float: left;
margin: 0 7px;
width: 192px;
height: 52px;
font-size: 21px;
letter-spacing: 8px;
text-align: center;
line-height: 52px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}
#hmain .m-userlnks a, .w-account-2 .btn, .w-user .btn, .m-focuson .btn {
_background-image: url(../image/login-24.png);
}
#hmain a:hover {
text-decoration: none;
color: #7594B3;
}
a {
text-decoration: none;
color: #444;
outline: none;
}
a, button {
cursor: pointer;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, p, blockquote, th, td {
padding: 0;
margin: 0;
}

#loginformid *{
font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","寰蒋闆呴粦",tahoma,arial,simsun,"瀹嬩綋";
}

#loginformid{
	background-color:#FFF;
	width: 332px;
}

.m-stwrap1 .m-userlnks, .m-login, .m-login .arr span, .m-stwrap-a {
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
}

.m-logbm .prv, .m-logbm .nxt, .m-reg .arr span, .m-login .arr span, .w-user-3 a, .w-user .warn .icn, .chkbox .c, .validt .icn, .w-sbtn-4, .m-msgbox .btn, ##loginformid .m-intro1 .i3 .btn {
background: url(../image/login-24.png) no-repeat;
}

.icn{display:inline-block;width:21px;height:21px;margin:0 5px 0 0;background-position:-1px -664px;}
.icn{display:inline-block;width:38px;height:40px;border-left:1px solid #d7d7d7;background-position:-174px -656px;}
#loginformid .m-login .arr {
text-align: center;
}

#loginformid .m-login .contl {
float: left;
width: 332px;
}
#loginformid .w-user-1 .chkbox {
/*float: left;*/
}
#loginformid .m-login .chkbox {
position: relative;
display: inline-block;
padding-left: 24px;
margin-right: 16px;
font-size: 14px;
}
#loginformid .m-login .cont {
width: 100%;
height: 600px;
background: #fff;
color: #888;
}

#loginformid .m-login {
position: absolute;
left: 0;
top: 262px;
margin-top: 20px;
width: 100%;
}

#loginformid .w-user .txt,#loginformid .w-user label {
position: absolute;
left: 16px;
top: 9px;
}



#loginformid .w-user .inpt {
position: relative;
zoom: 1;
padding: 9px 16px;
border: 1px solid #d7d7d7;
box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
}
#loginformid .w-user .inpt,#loginformid .w-user .txt {
width: 298px;
height: 22px;
font-size: 16px;
line-height: 22px;
}
#loginformid .w-user label {
color: #aaa;
}
#loginformid .w-user .txt {
border: 0;
outline: none;
color: #444;
}
#loginformid.w-user .txt,#loginformid .w-user label {
position: absolute;
left: 16px;
top: 9px;
}

#loginformid .w-account .txt,#loginformid .w-user .txt,#loginformid .m-filecnt .sel {
background: url(../image/empty.png) repeat;
}
#loginformid ul,#loginformid menu,#loginformid dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
#loginformid ul ul,#loginformid ol ul {
list-style-type: circle;
}

#loginformid .w-user .w0 {
zoom: 1;
margin: 0 0 15px;
}
#loginformid li {
list-style: none;
}


#loginformid .w-user .btn {
width: 332px;
padding-left: 14px;
height: 40px;
border: 0;
}
#loginformid .w-user .btn,#loginformid .m-focuson .btn {
background: -moz-linear-gradient(top, #84af00 0%, #79a200 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84af00), color-stop(100%,#79a200));
background: -webkit-linear-gradient(top, #84af00 0%,#79a200 100%);
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
line-height: 40px;
text-align: center;
}

#loginformid .m-reg .chkbox .c,#loginformid .m-login .chkbox .c {
position: absolute;
top: 0;
left: 0;
width: 16px;
height: 16px;
background-position: -84px -667px;
}

#loginformid .w-user .w3 a,#loginformid .w-user .w3 a:hover {
color: #888;
}
#loginformid a {
text-decoration: none;
color: #444;
outline: none;
}
#loginformid a,#loginformid button {
cursor: pointer;
}

#regformid *{
font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","寰蒋闆呴粦",tahoma,arial,simsun,"瀹嬩綋";
}

#regformid{
	background-color:#FFF;
	width: 332px;
}

.m-stwrap1 .m-userlnks, .m-login, .m-login .arr span, .m-stwrap-a {
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
}

.m-logbm .prv, .m-logbm .nxt, .m-reg .arr span, .m-login .arr span, .w-user-3 a, .w-user .warn .icn, .chkbox .c, .validt .icn, .w-sbtn-4, .m-msgbox .btn, ##regformid .m-intro1 .i3 .btn {
background: url(../image/login-24.png) no-repeat;
}

#regformid .m-login .arr {
text-align: center;
}

#regformid .m-login .contl {
float: left;
width: 332px;
}
#regformid .w-user-1 .chkbox {
/*float: left;*/
}
#regformid .m-login .chkbox {
position: relative;
display: inline-block;
padding-left: 24px;
margin-right: 16px;
font-size: 14px;
}
#regformid .m-login .cont {
width: 100%;
height: 600px;
background: #fff;
color: #888;
}

#regformid .m-login {
position: absolute;
left: 0;
top: 262px;
margin-top: 20px;
width: 100%;
}

#regformid .w-user .txt,#regformid .w-user label {
position: absolute;
left: 16px;
top: 9px;
}



#regformid .w-user .inpt {
position: relative;
zoom: 1;
padding: 9px 16px;
border: 1px solid #d7d7d7;
box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
}
#regformid .w-user .inpt,#regformid .w-user .txt {
width: 298px;
height: 22px;
font-size: 16px;
line-height: 22px;
}
#regformid .w-user label {
color: #aaa;
}
#regformid .w-user .txt {
border: 0;
outline: none;
color: #444;
}
#regformid.w-user .txt,#regformid .w-user label {
position: absolute;
left: 16px;
top: 9px;
}

#regformid .w-account .txt,#regformid .w-user .txt,#regformid .m-filecnt .sel {
background: url(../image/empty.png) repeat;
}
#regformid ul,#regformid menu,#regformid dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
#regformid ul ul,#regformid ol ul {
list-style-type: circle;
}

#regformid .w-user .w0 {
zoom: 1;
margin: 0 0 15px;
}
#regformid li {
list-style: none;
}

#regformid .w-user .validt {
position: absolute;
right: 0;
top: 0;
width: 100px;
height: 40px;
line-height: 40px;
}

#regformid .w-user .btn {
width: 332px;
padding-left: 14px;
height: 40px;
border: 0;
}
#regformid .w-user .btn,#regformid .m-focuson .btn {
background: -moz-linear-gradient(top, #84af00 0%, #79a200 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84af00), color-stop(100%,#79a200));
background: -webkit-linear-gradient(top, #84af00 0%,#79a200 100%);
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
line-height: 40px;
text-align: center;
}

#regformid .m-reg .chkbox .c,#regformid .m-login .chkbox .c {
position: absolute;
top: 0;
left: 0;
width: 16px;
height: 16px;
background-position: -84px -667px;
}

#regformid .w-user .w3 a,#regformid .w-user .w3 a:hover {
color: #888;
}
#regformid a {
text-decoration: none;
color: #444;
outline: none;
}
#regformid a,#regformid button {
cursor: pointer;
}
.enroll{ color:#F00; float:right}